<div ng-include="'partials/navbar.html'"></div>


<!-- View if authenticated -->
<p class="intro" ng-show="authenticated" >You're synced with Google!</p>
<p class="intro"> <strong><i> Here's how it works: </i></strong></p>
<p>1) To receive a reminder text message 30 minutes before an event, simply add <strong>self@remindzo.com</strong> as an attendee to the event on your Google calendar.
</p>
<p>2) To send other people a reminder text, add their phone numbers as attendees to an event in your Google Calendar.
</p>
<p> <i>Example format for (212) 555-1234</i>: <strong>2125551234@remindzo.com</strong></p>
<a class="btn btn-lg btn-info" ng-show="authenticated" ng-click="googleSync()">Refresh Calendar</a>

<!-- View if NOT yet authenticated -->
<p class="pitch" ng-show="nonauth">To sync your Google calendar with Remindzo, Click Here:</p>
<a ng-show="nonauth" class="btn btn-lg btn-success" ng-href="{{googleIntegrate}}">Integrate with Google</a>

<div ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources" calendar="myCalendar"></div>
