<div ng-include="'partials/navbar.html'"></div>

<div class="row">
  <div class="col-sm-12">
  <h1>Your Reminders</h1>
  </div>
  <div class="col-sm-12">
    <ol ng-repeat="reminder in reminders">
      <li>
        <h4> <strong>Message:</strong> {{reminder.message}}</h4>
        <h4><i>Scheduled for:</i> {{reminder.date}}</h4>
        <h4><i>Phone Number:</i> {{reminder.phone | phone}}</h4>
        <button class="btn btn-sm" ng-click="edit(reminder._id)">Edit Reminder</button>
        <button class="btn btn-sm" ng-really-message="Are you sure you want to delete this reminder?" ng-really-click="delete(reminder._id)">Delete Reminder</button>
      </li>
    </ol>
    <hr>
    <a class="btn btn-lg btn-success" ng-href="/remind">Create a New Reminder</a>
  </div>
</div>