<div ng-include="'partials/navbar'"></div>

<div id="landing-page">
  <h2 id="intro">Never Forget An Event or To-Do Again<span ng-show="currentUser">, {{ currentUser.name }}</span>.</h2>
  <p class="lead">
    <p class="pitch">Easily Schedule Text Message Reminders for Yourself or Others.</p>
  </p>
  <hr>
  <p><h2>Use remindzo to remind yourself in two ways:</h2></p>
  <a class="btn btn-lg btn-success" ng-href="/remind">Create a Reminder</a>
  <a class="btn btn-lg btn-primary" ng-href="/calendar">Link With Google Calendar</a>

</div>


<div class="footer">
  <p>♥ from the remindzo team</p>
</div>
