<div ng-include="'partials/navbar'"></div>

<div class="jumbotron">
  <h1>Never Forget Anything Important Again<span ng-show="currentUser">, {{ currentUser.name }}</span>.</h1>
  <p class="lead">
    <img src="images/brain.png" alt="brain"><br>
    <p>Easily Schedule Text Message and Phone Call Reminders</p>
    <p>Use remindzo For Important Events and Todo's in Life</p>
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="/remind">Create a New Reminder</a></p>
</div>

<a class="btn btn-lg" ng-show="currentUser" ng-href="{{google}}">Sync with Your Google Calendar!</a>

<div class="footer">
  <p>♥ from the remindzo team</p>
</div>
